<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% extends 'base.html' %}

{% block title%}Usuarios{% endblock %}

{% block main %}




<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>USUARIOS CADASTRADOS</h3></div>

  <!-- Table -->
  <table class="table">

{% for usuario in lista_usuarios %}

	 <legend></legend>&nbsp {{usuario.id}}&nbsp&nbsp<a href="{% url 'usuario_update' usuario.id %}">{{usuario}}</a>

{% endfor %}



  </table>
</div>


&nbsp&nbsp&nbsp&nbsp<a class="btn btn-primary btn-small" href="{% url 'usuario_create' %}" role="button">NOVO USUARIO</a>

{% endblock %}